<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ if .Site.Params.header.enable }}
        {{ partial "head.html" . }}
    {{ end }}
</head>

<body>

    {{ if .Site.Params.nav.enable }}
        {{ partial "nav.html" . }}
    {{ end }}

        <div class="row pt-3 pt-md-4 pt-lg-5" >
            <div class="col-1 col-sm-2 col-md-3"></div>
            <div class="col-10 col-sm-8 col-md-6 blog-cont">
                <h1 class="title pb-2"> {{ .Title }} </h1>

            {{ .Content }}
            </div>
            <div class="col-1 col-sm-2 col-md-3"></div>
        </div>


    {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.scripts.enable }}
        {{ partial "scripts.html" . }}
    {{ end }}

</body>
</html>
