<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ if .Site.Params.header.enable }}
        {{ partial "head.html" . }}
    {{ end }}

    {{ partial "snippets/description.html" (dict "description" .Description )}}
</head>

<body>

    {{ if .Site.Params.nav.enable }}
        {{ partial "nav.html" . }}
    {{ end }}

        <div class="row pt-3 pt-md-4 pt-lg-5 no-gutters" >
            <div class="col-1 col-sm-2 col-md-3"></div>
            <div class="col-10 col-sm-8 col-md-6 blog-cont blog-shadow mb-3">
                <h1 class="top-title"> {{ .Title }} </h1>
                <p class="pb-2 normal date">{{ dateFormat "Jan 2, 2006" .Date }}</p>

                {{ .Content }}

            </div>
            <div class="col-1 col-sm-2 col-md-3"></div>

        </div>


    <div class="row pt-1 no-gutters" >
        <div class="col-1 col-sm-2 col-md-3"></div>
        <div class="col-10 col-sm-8 col-md-6 mb-5">
            <div class="col-auto">
                <a class="btn btn-outline-red normal" id="home" role="button" href="{{ .Site.BaseURL }}/blog">{{ .Site.Params.blog.but }}</a>
            </div>
        </div>
        <div class="col-1 col-sm-2 col-md-3"></div>

    </div>

    {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.scripts.enable }}
        {{ partial "scripts.html" . }}
    {{ end }}

</body>
</html>
