<section class="video-block hide-overflow" id="{{ .id }}">
    <div class="row justify-content-center mt-5">
        <div class="col-10 col-sm-8 col-md-6 col-lg-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item main-video"
                        src="https://www.youtube.com/embed/{{ .id }}"
                        frameborder="0"
                        allow="encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>