body {
  background-color: $white;
}

.title {
  color: $primary;
  font-family: $title;
  font-weight: bold;
}

.normal {
  color: $black;
  font-family: $normal;
}

.btn-outline-red {
  @include button-outline-variant($primary);
}

.btn-outline-red:visited {
  color: $primary;
}

.btn-outline-red:hover {
  color: $white;
}

.faded-text {
  color:  $grey;
}

/* Markdown changes */

.bg-grey {
  background-color: $light-grey;
}

.bg-trans-grey {
  background-color: rgba($black, 0.5);
}

.bg-white {
  background-color: $white;
}

.red-link {
  color: $primary;
  font-family: $normal;
}

.red-link:visited {
  color: $grey;
}

.red-link:hover {
  color: $blue;
}

.section-title {
  font-family: $title;
  color: $primary;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 3px;

  @include media-breakpoint-down(sm) {
    font-size: 2.5rem;
  }
}

.important-link:hover {
  color: $primary;
}
