body {
  background-color: $white;

}

.title {
  color: $primary;
  font-family: $title;
  font-weight: bold;
}

.normal {
  color: $black;
  font-family: $normal;
}

.btn-outline-red {
  @include button-outline-variant($primary);
}

.faded-text {
  color:  $grey;
}

/* Markdown changes */

