/* colors */
$primary: #A50034;
$body-copy: #231F20;
$white: #FFFFFF;

$browm:#6E6259;
$beige:#DDCBA4;

$accent-green: #00966C;
$accent-blue: #009CA6;

/* My Added  */
$black: #383838;
$grey: #848484;
$search: $accent-blue;
$light-grey: #F5F5F5;
$carousel-color: $white;

/* Fonts
* Futura and Arial preferred, but default to Gothic/Lato which are online for free
 */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Lato');

$title: Futura, Futura-Medium, "Futura Medium", "Didact Gothic", Arial, sans-serif;
$normal: Arial, Lato, sans-serif;