//colors
$primary-color: #ba183e;
$secondary-color: #85142f;


//fonts
@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto+Slab');

$serifs: 'Roboto Slab', Georgia, serif;
$sans: Heebo, Arial, sans-serif;
