<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ if .Site.Params.header.enable }}
            {{ partial "head.html" . }}
        {{ end }}

        {{ partial "snippets/description.html" (dict "description" .Site.Params.home.desc )}}
    </head>

    <body>

        {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.slideshow.enable }}
            {{ partial "slideshow.html" . }}
        {{ end }}

        {{ partial "snippets/title.html" (dict "title" .Site.Params.tips.title "importance" 1 ) . }}

        {{ if .Site.Params.blog.enable }}
            {{ partial "tips.html" (dict "show" .Site.Params.tips.frontpage_number "context" .) }}
            {{ partial "snippets/sublink.html" (dict "link" .Site.Params.tips.blog "text" .Site.Params.tips.all "importance" 3) }}
        {{ end }}

        {{ if .Site.Params.links.enable }}
            {{ partial "snippets/title.html" (dict "title" .Site.Params.links.title "importance" 2 ) . }}
            {{ partial "links.html" (dict "show" .Site.Params.links.frontpage_number "context" .) }}
            {{ partial "snippets/sublink.html" (dict "link" .Site.Params.links.url "text"  .Site.Params.links.all "importance" 3)}}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Params.scripts.enable }}
            {{ partial "scripts.html" . }}
        {{ end }}

    </body>
</html>
