<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ if .Site.Params.header.enable }}
            {{ partial "head.html" . }}
        {{ end }}
    </head>

    <body>

        {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.slideshow.enable }}
            {{ partial "slideshow.html" . }}
        {{ end }}

        {{ partial "snippets/title.html" (dict "title" .Site.Params.tips.title) . }}

        {{ if .Site.Params.blog.enable }}
            {{ partial "tips.html" (dict "show" .Site.Params.tips.frontpage_number "context" .) }}
        {{ end }}

        {{ partial "snippets/sublink.html" (dict "link" "/blog" "text" .Site.Params.tips.all ) }}
        
        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Params.scripts.enable }}
            {{ partial "scripts.html" . }}
        {{ end }}

    </body>
</html>
