<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ if .Site.Params.header.enable }}
            {{ partial "head.html" . }}
        {{ end }}
    </head>

    <body>

        {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.slideshow.enable }}
            {{ partial "slideshow.html" . }}
        {{ end }}

        {{ partial "snippets/title.html" (dict "title" .Site.Params.tips.title) }}


        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>
        <p>AA</p><br>

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Params.scripts.enable }}
            {{ partial "scripts.html" . }}
        {{ end }}

    </body>
</html>
