<section id="alert-stripe" class="bg-primary collapse">
    <div class="container pt-3">
        <div class="row">
            <div class="col-1"></div>

            <a class="col-10 text-center alert-link" href="{{ .Site.Params.alert_stripe.link }}">
                <p class="alert-text alert-link">{{ .Site.Params.alert_stripe.content }}</p>
            </a>

            <div class="col-1 close-icon p-0 text-center" data-toggle="collapse" id="alert-close">
                &times;
            </div>
        </div>
    </div>
</section>