<section id="header">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory also, some browsers read from there -->

    {{ if (fileExists "static/favicon.ico") }}
        <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon" />
    {{ end }}

    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/created/main.css">

</section>