<section id="navbar">
        <nav class="navbar navbar-expand-lg pt-md-4 pb-md-4 pt-sm-2 pb-sm-2 fixed-top">
                    <a class="navbar-brand" href="#">
                        <img src="{{ .Site.Params.nav.home.img }}" class="d-inline-block align-top home-img" alt="{{ .Site.Params.nav.home.alt }}" title="{{ .Site.Params.nav.home.title }}">
                        {{ .Site.Params.nav.home.text }}
                    </a>

                {{ if .Site.Params.nav.menu.enable }}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="{{ index $.Site.Params.nav.menu.hamburgers .Site.Params.nav.menu.index }}"></span>
                    </button>
                {{ end }}

                <div class="collapse navbar-collapse pb-2 pb-lg-0" id="navbarSupportedContent">

                    <!-- Search Bar for smaller than lg screens (when menu shown) so it is at the top -->
                    <form class="form-inline my-2 my-lg-0 mt-3 d-lg-none">
                        <input class="form-control form-control-search mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-search my-2 my-sm-0 " type="submit">Search</button>
                    </form>

                    {{ if .Site.Params.nav.links.enable }}
                        <ul class="navbar-nav ml-auto mr-md-3 mr-xl-5">

                            <!-- TODO: Fix (current) functionality -->
                            {{ range $.Site.Params.nav.links.text }}
                                <li class="nav-item ml-3 mt-1 mt-lg-0">
                                    <a class="nav-link title" href="{{ index . 1}}">{{ index . 0}} <span class="sr-only">(current)</span></a>
                                </li>
                            {{ end }}

                        </ul>
                    {{ end }}

                    <!-- Search bar for desktop view so it is at the right -->
                    <form class="form-inline my-2 my-lg-0 mt-5 mt-sm-1 mt-lg-0 d-none d-lg-block">
                        <input class="form-control form-control-search mr-sm-2 normal" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-search my-2 normal" type="submit">Search</button>
                    </form>

                </div>
        </nav>

    <!-- A dummy nav bar to prevent content from being behind it -->
    <!-- Should render behind the real navbar -->
    <!-- Only contains the stuff the changes vertical height, which is the img only for now -->
    <nav class="navbar navbar-expand-lg pt-md-4 pb-md-4 pt-sm-2 pb-sm-2">
        <a class="navbar-brand" href="#">
            <img src="" class="d-inline-block align-top home-img" alt="{{ .Site.Params.nav.home.alt }}" title="{{ .Site.Params.nav.home.title }}">
            {{ .Site.Params.nav.home.text }}
        </a>
    </nav>

</section>