<section id="navbar">
        <nav class="navbar navbar-shadow navbar-expand-lg pt-md-4 pb-md-4 pt-sm-2 pb-sm-2 fixed-top">

            <a class="navbar-brand" href="{{ .Site.Params.nav.home.link }}">
                <img src="{{ .Site.Params.nav.home.img }}" class="d-inline-block align-top home-img" alt="{{ .Site.Params.nav.home.alt }}" title="{{ .Site.Params.nav.home.title }}">
                {{ .Site.Params.nav.home.text }}
            </a>
            <div class="home-img-spacer"></div>

            {{ if .Site.Params.nav.menu.enable }}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <img id="burger-default" alt="" src="{{ index $.Site.Params.nav.menu.hamburgers .Site.Params.nav.menu.defualt }}">
                            <img id="burger-active" class="d-none mt-1" alt="" src="{{ index $.Site.Params.nav.menu.hamburgers .Site.Params.nav.menu.active }}">
                        </span>
                    </button>
                {{ end }}

                <div class="collapse navbar-collapse pb-2 pb-lg-0" id="navbarSupportedContent">

                    <!-- Search Bar for smaller than lg screens (when menu shown) so it is at the top -->
                    {{ if .Site.Params.nav.search.enable }}
                        <form id="mobile_search" class="form-inline my-2 my-lg-0 mt-3 d-lg-none">
                            <input id="input_mobile" class="search_box form-control form-control-search mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="search_button btn btn-outline-search my-2 my-sm-0" type="button">Search</button>
                        </form>
                    {{ end }}

                    {{ $url := urls.Parse .Permalink }}

                    {{ if .Site.Params.nav.links.enable }}
                        <ul class="navbar-nav ml-auto mr-md-3 mr-xl-5">

                            <!-- TODO: Fix (current) functionality -->
                            {{ range $.Site.Params.nav.links.text }}
                                <li class="nav-item ml-3 mt-1 mt-lg-0">
                                    <a class="nav-link" href="{{ index . 1 }}" target="{{ index . 2 }}">{{ index . 0}}
                                        {{ if eq $url.Path (index . 1)  }}
                                            <span class="sr-only">(current)</span>
                                        {{ end }}
                                    </a>
                                </li>
                            {{ end }}

                        </ul>
                    {{ end }}

                    <!-- Search bar for desktop view so it is at the right -->
                    {{ if .Site.Params.nav.search.enable }}
                        <form class="form-inline my-2 my-lg-0 mt-3 d-none d-lg-block">
                            <input id="input_desk" class="search_box form-control form-control-search mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="search_button btn btn-outline-search my-2 my-sm-0" type="button">{{ .Site.Params.nav.search.but }}</button>
                        </form>
                    {{ end }}

                </div>
        </nav>

    <!-- A dummy nav bar to prevent content from being behind it -->
    <!-- Should render behind the real navbar -->
    <!-- Only contains the stuff the changes vertical height, which is the image spacer for now -->
    <nav class="navbar navbar-expand-lg pt-md-4 pb-md-4 pt-sm-2 pb-sm-2">
        <a class="navbar-brand" href="{{ .Site.Params.nav.home.link }}">
            <div class="home-img-spacer"></div>
        </a>
    </nav>

    <!-- Modal for search results -->
    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3  class="modal-title normal" >{{ .Site.Params.nav.search.title }}</h3><p>&nbsp;</p><h3 class="modal-title search-term" id="modal_title"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="form-inline my-2 my-lg-0 mt-3 mb-4 pb-3">
                        <input id="input_modal" class="search_box form-control form-control-search mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button id="modal_search_but" class="search_button btn btn-outline-search my-2 my-sm-0" type="button">{{ .Site.Params.nav.search.but }}</button>
                    </form>

                    <ol id="results" class="pt-3">
                        <!-- Content here is generated by Javascript -->
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ .Site.Params.nav.search.close_but }}</button>
                </div>
            </div>
        </div>
    </div>

</section>