<section id="navbar">
        <nav class="navbar navbar-expand-lg pt-md-4 pb-md-4 pt-sm-2 pb-sm-2">
            <div class="container">
            {{ if and (.Site.Params.nav.home.enable) (fileExists "themes/GCI/static/icons/logo.jpg") }}
            <div class="row">
                <div class="col-4">
                    <a class="navbar-brand" href="#">
                        <img src="/icons/logo.jpg" class="d-inline-block align-top home-img" alt="{{ .Site.Params.nav.home.alt }}" title="{{ .Site.Params.nav.home.title }}">
                        {{ .Site.Params.nav.home.text }}
                    </a>
                </div>
            </div>
            </div>
            {{ end }}
        </nav>
</section>