<section id="profiles">
    <div class="container bg-grey">
        <div class="row bg-white p-3 pl-5 pr-5">
            {{ $img_source := .Site.Params.img.source }}
            {{ range $person := sort .Site.Data.people "weight" }}
                <div class="col-12 col-sm-6 col-md-4 mb-5 ">
                    <div class="pl-5 pr-5">
                        <img alt="" title="" class="profile-img" src="{{ $img_source }}{{ $person.img }}"><br>
                    </div>
                    <p class="profile-text title name text-center">{{ $person.name }}</p>
                    <p class="profile-text normal sub-title text-center">{{ $person.title }}</p>

                    <div class="person-desc pl-3 mt-3">
                        <p class="profile-text normal d-none d-lg-block">{{ $person.description }}</p>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>