{{ $scratch := newScratch }}
{{ $scratch.Set "blogs" 0 }}
{{ $show := .show }}

<section id="#tips">
    <div class="container">
        <div class="row">
            {{ range (where .context.Site.Pages "Type" "blog") }}
                {{ if and (lt ($scratch.Get "blogs") $show ) ( isset .Params "icon" ) (ne .Params.icon "")}}
                    {{ if (fileExists (print "/themes/GCI/static/created/img/" .Params.icon ))  }}
                        {{ $scratch.Add "blogs" 1 }}
                        <div class="col-12 col-md-6">
                            <a href="{{ .Site.BaseURL }}blog/{{ .Params.slug }}">
                                <div class="image-resize">
                                  <img class="w-100 tip-icon" alt="{{ .Params.alt_icon }}" src="{{ .Site.BaseURL }}{{ .Site.Params.img.source }}{{ .Params.icon }}" title="{{ .Params.title_icon }}">
                                </div>
                                <div class="sr-only">
                                    Dummy, do not click
                                </div>
                            </a>
                            <a class="tip red-underline text-center" href="{{ .Site.BaseURL }}blog/{{ .Params.slug }}">
                                <h2 class="red-underline">{{ .Params.Title }}</h2>
                            </a>
                            <p class="normal">{{ .Site.Params.tips.read }}
                                <a class="red-link" href="{{ .Site.BaseURL }}blog/{{ .Params.slug }}">{{ .Params.Description }}</a>
                            </p>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>

    {{ if eq ($scratch.Get "blogs") 0 }}
        <p>{{ .context.Site.Params.err.msg.tips }}</p>
    {{ end }}
</section>