<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ if .Site.Params.header.enable }}
        {{ partial "head.html" . }}
    {{ end }}

    {{ partial "snippets/description.html" (dict "description" .Site.Params.about.desc )}}
</head>

<body>

    {{ if .Site.Params.nav.enable }}
        {{ partial "nav.html" . }}
    {{ end }}

    {{ partial "snippets/title.html" (dict "title" .Site.Params.about.title "importance" 1) . }}

    {{ if .Site.Params.profiles.enable }}
        {{ partial "profiles.html" . }}
    {{ end }}

    <div class="row bg-grey no-gutters pb-3 pt-3">
        <div class="col-1 col-sm-2 col-md-3"></div>
        <div class="col-10 col-sm-8 col-md-6 blog-cont bg-white p3">
            {{ .Content }}
        </div>
        <div class="col-1 col-sm-2 col-md-3"></div>
    </div>

    {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.scripts.enable }}
        {{ partial "scripts.html" . }}
    {{ end }}

</body>
</html>
