.slide-img {
  object-fit: cover;
  height: 30em;
  max-height: 60vh;
}

.round {
  border-radius: 20px;
}

.carousel-caption {
  border-radius: 20px;
  border: 2px $black;
}

.carousel-caption:hover {
  background-color: $primary
}

.carousel-header {
  color: $carousel-color;
}

.carousel-text {
  color: $carousel-color;
}